html,
body {
    margin: 0px;
    height: 100%;
    cursor: url("../Cursor/cursor.svg"), pointer;
    width: 100%;
}

html
{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0;
}


@font-face {
    font-family: "DancingScript"; 
    src: url("../Fonts/DancingScript-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
@font-face {
        font-family: "Inter"; 
        src: url("../Fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: bolder; 
        }
@font-face {
            font-family: "BakBak"; 
            src: url("../Fonts/BakbakOne-Regular.ttf") format("truetype"); 
            font-style: normal; 
            font-weight: normal; 
            }
@font-face
{
    font-family: "PTSerif";
    src: url("../Fonts/PTF75F.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

.ButtonUp
{
    height: 24px;
    width: 24px;
    margin-left: 5%;
    margin-top: 1%;
    background-image: url("../Pictures/ButtonDown.png");
    position: fixed;
}

.ButtonDown
{
    height: 24px;
    width: 24px;
    margin-left: 5%;
    margin-top: 49%;
    rotate: 180deg;
    background-image: url("../Pictures/ButtonDown.png");
    position: fixed;
}

button
{
    background: transparent;
    border: 0ch;
    border-radius: 20px;
}

button:hover
{
    animation: buttonAnimation 1s forwards;
}

@keyframes buttonAnimation {
    from 
    {
        background: transparent;
    }
    to
    {
        background: orange;
    }
}

.top {
    height: 8%;
    background-color: white;
}

.BurgerMenu
{
    height: 5%;
    width: 2%;
    margin-top: 2%;
    background-color: white;
    position: absolute;
    opacity: 0;
}

.MyList
{
    opacity: 0;
}

.FirstLineOfBurgerMenu
{
    height: 15%;
    width: 100%;
    position: absolute;
    background-color: black;
}

.SecondLineOfBurgerMenu
{
    height: 15%;
    width: 100%;
    margin-top: 35%;
    position: absolute;
    background-color: black;
}

.ThirdLineOfBurgerMenu
{
    height: 15%;
    width: 100%;
    margin-top: 75%;
    position: absolute;
    background-color: black;
}


.Alexis {
    width: 10%;
    height: 6%;
    margin-left: 20%;
    margin-top: calc(8% - 10.5%);
    font-size: 18px;
    background-color: white;
}

.Text {
    height: 3%;
    width: 50%;
    margin-left: 50%;
    margin-top: 1.5%;
    position: absolute;
}

.ALetter {
    color: red;
}

.MainPicture {
    height: 70%;
    background-image: url("../Pictures/FirstPicture.jpg");
}

.Back {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
}

.EnteredText {
    height: 30%;
    width: 70%;
    margin-left: 32%;
    margin-top: -30%;
    font-size: 50px;
    opacity: 99%;
    color: white;
}

.OurWorks {
    height: 10%;
    width: 10%;
    margin-left: 45%;
    margin-top: 1%;
    font-size: 50px;
    opacity: 99%;
    background-color: orangered;
    border-radius: 30px;
}

.OurWorksButton
{
    color:white; 
    font-size:16px; 
    margin-left: 1.3%;
    margin-top: 1%; 
    position: absolute;
}

.OurWorksButton:hover
{
    animation: ourworks 1s forwards;   
}

@keyframes ourworks {
    to
    {
        font-size: 22px;
        margin-left: 0%;
    }
}

.Dollar {
    height: 32px;
    width: 32px;
    margin-left: 25%;
    margin-top: 3%;
    background-image: url("../Pictures/dollar.png");
    position: absolute;
    opacity: 99%;
}

.DollarText {
    height: 32px;
    width: 160px;
    margin-left: 21.5%;
    margin-top: 6%;
    position: absolute;
    color: green;
    font-size: 12px;
    opacity: 99%;
}

.Clock {
    height: 32px;
    width: 32px;
    margin-left: 49%;
    margin-top: 3%;
    background-image: url("../Pictures/clock.png");
    position: absolute;
    opacity: 99%;
}

.ClockText {
    height: 32px;
    width: 160px;
    margin-left: 46.5%;
    margin-top: 6%;
    position: absolute;
    color: purple;
    font-size: 12px;
    opacity: 99%;
}

.Galka {
    height: 32px;
    width: 32px;
    margin-left: 75%;
    margin-top: 3%;
    background-image: url("../Pictures/galka.png");
    position: absolute;
    opacity: 99%;
}

.GalkaText {
    height: 32px;
    width: 200px;
    margin-left: 71%;
    margin-top: 6%;
    position: absolute;
    color: orange;
    font-size: 12px;
    opacity: 99%;
}

.OurFocus {
    height: 70%;
    background-color: whitesmoke;
}

.OurFocusText {
    height: 20%;
    width: 20%;
    font-size: 50px;
    margin-top: 2%;
    margin-left: 42%;
    position: absolute;
}

.OurFocusLowerText {
    height: 20%;
    width: 25%;
    font-size: 14px;
    margin-top: 6%;
    margin-left: 39%;
    position: absolute;
}

.WebDesign {
    height: 30%;
    width: 12%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10%;
    margin-left: 20%;
}

.WebDesign:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.WebDesignLogo {
    height: 48px;
    width: 48px;
    margin-left: 35%;
    margin-top: 5%;
    background-image: url("../Pictures/page.png");
    position: absolute;
    opacity: 99%;
}

.WebDesignText {
    height: 20%;
    width: 50%;
    font-size: 18px;
    margin-top: 30%;
    margin-left: 25%;
    position: absolute;
}

.WebDesignLowerText {
    height: 20%;
    width: 75%;
    font-size: 14px;
    margin-top: 50%;
    margin-left: 13%;
    position: absolute;
}


.UXDesign {
    height: 30%;
    width: 12%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10%;
    margin-left: 35%;
}

.UXDesign:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.UXDesignLogo {
    height: 46px;
    width: 48px;
    margin-left: 35%;
    margin-top: 5%;
    background-image: url("../Pictures/UX.png");
    position: absolute;
    opacity: 99%;
}

.UXDesignText {
    height: 20%;
    width: 50%;
    font-size: 18px;
    margin-top: 30%;
    margin-left: 26%;
    position: absolute;
}

.UXDesignLowerText {
    height: 20%;
    width: 75%;
    font-size: 14px;
    margin-top: 50%;
    margin-left: 13%;
    position: absolute;
}

.Photography {
    height: 30%;
    width: 12%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10%;
    margin-left: 50%;
}

.Photography:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.PhotographyLogo {
    height: 48px;
    width: 48px;
    margin-left: 35%;
    margin-top: 5%;
    background-image: url("../Pictures/Picture.png");
    position: absolute;
    opacity: 99%;
}

.PhotographyText {
    height: 20%;
    width: 50%;
    font-size: 18px;
    margin-top: 30%;
    margin-left: 24%;
    position: absolute;
}

.PhotographyLowerText {
    height: 20%;
    width: 75%;
    font-size: 14px;
    margin-top: 50%;
    margin-left: 13%;
    position: absolute;
}

.AppDevelopment {
    height: 30%;
    width: 12%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10%;
    margin-left: 65%;
}

.AppDevelopment:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.AppDevelopmentLogo {
    height: 48px;
    width: 48px;
    margin-left: 35%;
    margin-top: 5%;
    background-image: url("../Pictures/Phone.png");
    position: absolute;
    opacity: 99%;
}

.AppDevelopmentText {
    height: 20%;
    width: 80%;
    font-size: 18px;
    margin-top: 30%;
    margin-left: 15%;
    position: absolute;
}

.AppDevelopmentLowerText {
    height: 20%;
    width: 75%;
    font-size: 14px;
    margin-top: 50%;
    margin-left: 13%;
    position: absolute;
}

.OrangeLine {
    height: 1%;
    background-color: orange;
    margin-top: 122%;
    margin-left: -5%;
    width: 100%;
    position: absolute;
}

.PurpleLine {
    height: 1%;
    background-color: purple;
    margin-left: -5%;
    margin-top: 122%;
    width: 100%;
    position: absolute;
}

.GreenLine {
    height: 1%;
    background-color: green;
    margin-left: -5%;
    margin-top: 122%;
    width: 100%;
    position: absolute;
}

.RedLine {
    height: 1%;
    background-color: orangered;
    margin-top: 122%;
    margin-left: -5%;
    width: 100%;
    position: absolute;
}

.Line {
    height: 0.5%;
    background-color: yellow;
}

.AboutUs {
    height: 70%;
    background-color: white;
}

.AboutUsText {
    font-size: 24px;
    color: black;
    margin-left: 47%;
    margin-top: 3%;
    position: absolute;
}

.AboutUsBigText {
    font-size: 44px;
    color: black;
    margin-left: 39%;
    margin-top: 5%;
    position: absolute;
}

.Inline {
    width: 5%;
    height: 0.5%;
    margin-left: 48%;
    margin-top: 10%;
    background-color: orangered;
    position: absolute;
}

.AboutUsLowerText {
    font-size: 14px;
    color: gray;
    margin-top: 12%;
    margin-left: 25%;
    position: absolute;
}

.ZeroBlockAboutUs {
    height: 20%;
    width: 17%;
    margin-top: 17.5%;
    margin-left: 19.5%;
    position: absolute;
}

.ZeroBlockColor {
    height: 100%;
    width: 100%;
    margin-left: -5%;
    margin-top: -2%;
    background: linear-gradient(orange, yellow);
    opacity: 0.6;
    position: absolute;
}

.ZeroBlockBack
{
    height: 100%;
    width: 100%;
    margin-left: -5%;
    margin-top: -2%;
    background-image: url("../Pictures/TableWithIMac.jpg");
    position: absolute;
}

.ZeroBlockSecondBack
{
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: absolute;
}

.FirstBlockLogo {
    height: 48px;
    width: 48px;
    margin-left: 36%;
    margin-top: 5%;
    background-image: url("../Pictures/Group.png");
    position: absolute;
    opacity: 99%;
}

.FirstBlockText {
    font-size: 18px;
    color: white;
    width: 50%;
    height: 20%;
    margin-left: 21.6%;
    margin-top: 28%;
    position: absolute;
}

.FirstBlockAboutUs {
    height: 20%;
    width: 17%;
    margin-top: 18%;
    margin-left: 20%;
    background-image: url("../Pictures/TableWithIMac.jpg");
    background-color: aqua;
    position: absolute;
}

.HighLightBlock
{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}

.HighLightBlock:Hover
{
    animation: identifier 1s forwards;
}

@keyframes identifier {
    to
    {
        opacity: 1;
    }
}

.SecondBlockAboutUs {
    height: 20%;
    width: 17%;
    margin-top: 18%;
    margin-left: 40%;
    background-image: url("../Pictures/PictureWithLaptop.jpg");
    position: absolute;
}

.ThirdBlockAboutUs {
    height: 20%;
    width: 17%;
    margin-top: 18%;
    margin-left: 60%;
    background-image: url("../Pictures/SecondPictureWithLaptop.jpg");
    position: absolute;
}

.Explore {
    height: 50%;
    background-image: url("../Pictures/SecondTableWithIMac.jpg");
}


.ExploreText {
    height: 25%;
    width: 40%;
    margin-top: -20%;
    margin-left: 40%;
    color: white;
    font-size: 24px;
    position: absolute;
}

.ExploreLogo {
    height: 48px;
    width: 48px;
    margin-left: 47%;
    margin-top: -15%;
    background-image: url("../Pictures/Player.png");
    position: absolute;
    opacity: 99%;
}

.ExploreSmallText {
    height: 25%;
    width: 40%;
    margin-top: -10%;
    margin-left: 45%;
    color: white;
    font-size: 12px;
    position: absolute;
}

.Portfolio {
    height: 100%;
    background-color: white;
}

.PortfolioText {
    height: 30%;
    width: 70%;
    margin-left: 43%;
    margin-top: 5%;
    font-size: 50px;
    opacity: 99%;
    color: black;
    position: absolute;
}

.OurPortfolioLowerText {
    height: 20%;
    width: 30%;
    font-size: 18px;
    margin-top: 11%;
    margin-left: 35%;
    color: gray;
    position: absolute;
}

.PortfolioBlock {
    height: 65%;
    width: 50%;
    margin-left: 23%;
    margin-top: 12%;
    position: absolute;
}

.FirstPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 1%;
    margin-top: 3%;
    background-image: url("../Pictures/FirstHeader.jpg");
    position: absolute;
}



.SecondPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 35%;
    margin-top: 3%;
    background-image: url("../Pictures/SecondLanding.png");
    position: absolute;
}


.ThirdPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 69%;
    margin-top: 3%;
    background-image: url("../Pictures/ThirdHeader.jpg");
    position: absolute;
}


.FirstMiddlePortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 1%;
    margin-top: 24%;
    background-image: url("../Pictures/FourthHeader.jpg");
    position: absolute;
}

.SecondMiddlePortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 35%;
    margin-top: 24%;
    background-image: url("../Pictures/FIfthHeader.png");
    position: absolute;
}

.ThirdMiddlePortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 69%;
    margin-top: 24%;
    background-image: url("../Pictures/Sixth.jpg");
    position: absolute;
}

.FirstLowerPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 1%;
    margin-top: 45%;
    background-image: url("../Pictures/SeventhHeader.jpg");
    position: absolute;
}

.SecondLowerPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 35%;
    margin-top: 45%;
    background-image: url("../Pictures/EighthHeader.jpg");
    position: absolute;
}

.ThirdLowerPortfolioBlock {
    height: 150px;
    width: 250px;
    margin-left: 69%;
    margin-top: 45%;
    background-image: url("../Pictures/LastHeader.jpg");
    position: absolute;
}

.OurTeam {
    height: 120%;
    background-color: whitesmoke;
}

.OurTeamText {
    height: 30%;
    width: 70%;
    margin-left: 43%;
    margin-top: 8%;
    font-size: 50px;
    opacity: 99%;
    color: black;
    position: absolute;
}

.OurTeamLowerText {
    height: 20%;
    width: 30%;
    font-size: 14px;
    margin-top: 13%;
    margin-left: 37.5%;
    color: gray;
    position: absolute;
}

.OurTeamBlocks {
    height: 50%;
    width: 80%;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 17%;
    position: absolute;
}

.FirstTeammateBlock {
    height: 75%;
    width: 19%;
    background-color: white;
    margin-top: 1%;
    margin-left: 12%;
    position: absolute;
}

.FirstTeammateBlock:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.SecondTeammateBlock:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ThirdTeammateBlock:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.FourthTeammateBlock:hover
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.FirstTeammatePhoto {
    margin-top: 1%;
    margin-left: 1%;
    height: 70%;
    width: 98%;
    background-image: url("../Pictures/FirstTeammate.png");
    position: absolute;
}

.FirstTeammateText {
    height: 15%;
    width: 80%;
    margin-top: 100%;
    margin-left: 23%;
    font-size: 18px;
    color: orangered;
}

.FirstTeammateLowerText {
    height: 15%;
    width: 80%;
    margin-top: -6%;
    margin-left: 32%;
    font-size: 12px;
    color: gray;
}

.OrangeRedLineTeammate {
    height: 1%;
    background-color: orangered;
    margin-top: 8%;
    width: 100%;
    position: absolute;
}

.SecondTeammateBlock {
    height: 75%;
    width: 19%;
    background-color: white;
    margin-top: 1%;
    margin-left: 32%;
    position: absolute;
}

.SecondTeammatePhoto {
    margin-top: 1%;
    margin-left: 1%;
    height: 70%;
    width: 98%;
    background-image: url("../Pictures/SecondTeammate.png");
    position: absolute;
}

.SecondTeammateText
{
    height: 15%;
    width: 80%;
    margin-top: 100%;
    margin-left: 27%;
    font-size: 18px;
    color: green;
}

.GreenLineTeammate {
    height: 1%;
    background-color: green;
    margin-top: 8%;
    width: 100%;
    position: absolute;
}

.ThirdTeammateBlock {
    height: 75%;
    width: 19%;
    background-color: white;
    margin-top: 1%;
    margin-left: 52%;
    position: absolute;
}

.ThirdTeammatePhoto {
    margin-top: 1%;
    margin-left: 1%;
    height: 70%;
    width: 98%;
    background-image: url("../Pictures/ThirdTeammate.png");
    position: absolute;
}

.ThirdTeammateText{
    height: 15%;
    width: 80%;
    margin-top: 100%;
    margin-left: 27%;
    font-size: 18px;
    color: purple;
}

.PurpleLineTeammate {
    height: 1%;
    background-color: purple;
    margin-top: 8%;
    width: 100%;
    position: absolute;
}

.FourthTeammateBlock {
    height: 75%;
    width: 19%;
    background-color: white;
    margin-top: 1%;
    margin-left: 72%;
    position: absolute;
}

.FourthTeammatePhoto {
    margin-top: 1%;
    margin-left: 1%;
    height: 70%;
    width: 98%;
    background-image: url("../Pictures/FourthTeammate.png");
    position: absolute;
}

.FourthTeammateText{
    height: 15%;
    width: 80%;
    margin-top: 100%;
    margin-left: 25%;
    font-size: 18px;
    color: orange;
}

.OrangeLineTeammate {
    height: 1%;
    background-color: orange;
    margin-top: 8%;
    width: 100%;
    position: absolute;
}

.Bot {
    height: 40%;
    width: 100%;
    background-image: url("../Pictures/CupOfCoffee.jpg");
    position: absolute;
}

.BotGroup
{
    height: 100%;
    width: 100%;
    margin-top: -35%;
    margin-left: 5%;
    position: absolute;
}

.GraphIcon
{
    height: 48px;
    width: 48px;
    margin-top: 20%;
    margin-left: 20%;
    opacity: 0.8;
    background-image: url("../Pictures/Graph.png");
    position: absolute;
}

.GraphText
{
    height: 5%;
    width: 30%;
    margin-left: 19.7%;
    margin-top: 25%;
    opacity: 0.8;
    color: white;
    position: absolute;
}

.RedDot
{
    height: 24px;
    width: 24px;
    margin-left: 20.7%;
    margin-top: 30%;
    opacity: 0.8;
    background-image: url("../Pictures/RedDot.png");
    position: absolute;
}

.RedText
{
    height: 5%;
    width: 30%;
    margin-left: 18.5%;
    margin-top: 28%;
    opacity: 0.8;
    font-size: 12px;
    color: whitesmoke;
    position: absolute;
}

.GreenGroupIcon
{
    height: 48px;
    width: 48px;
    margin-top: 20%;
    margin-left: 35%;
    opacity: 0.8;
    background-image: url("../Pictures/GreenGroup.png");
    position: absolute;
}

.GreenDot
{
    height: 24px;
    width: 24px;
    margin-left: 35.8%;
    margin-top: 29.5%;
    opacity: 0.8;
    background-image: url("../Pictures/GreenDot.png");
    position: absolute;
}

.GreenText
{
    height: 5%;
    width: 30%;
    margin-left: 34%;
    margin-top: 27.8%;
    opacity: 0.8;
    font-size: 12px;
    color: whitesmoke;
    position: absolute;
}

.GroupText
{
    height: 5%;
    width: 30%;
    margin-left: 35.3%;
    margin-top: 25%;
    opacity: 0.8;
    color: whitesmoke;
    position: absolute;
}
.PurpleHeartIcon
{
    height: 48px;
    width: 48px;
    margin-top: 20%;
    margin-left: 50%;
    opacity: 0.8;
    background-image: url("../Pictures/PurpleHeart.png");
    position: absolute;
}

.PurpleDot
{
    height: 24px;
    width: 24px;
    margin-left: 50.8%;
    margin-top: 29.3%;
    opacity: 0.8;
    background-image: url("../Pictures/PurpleDot.png");
    position: absolute;
}

.PurpleText
{
    height: 5%;
    width: 30%;
    margin-left: 48.5%;
    margin-top: 27.7%;
    opacity: 0.8;
    font-size: 12px;
    color: whitesmoke;
    position: absolute;
}

.HeartText
{
    height: 20%;
    width: 30%;
    margin-left: 50.3%;
    margin-top: 25%;
    opacity: 0.8;
    color: whitesmoke;
    position: absolute;
}

.YellowGiftIcon
{
    height: 48px;
    width: 48px;
    margin-top: 20%;
    margin-left:65%;
    opacity: 0.8;
    background-image: url("../Pictures/YellowGift.png");
    position: absolute;
}

.GiftText
{
    height: 5%;
    width: 30%;
    margin-left: 63.5%;
    margin-top: 27.7%;
    opacity: 0.8;
    font-size: 12px;
    color: whitesmoke;
    position: absolute;
}

.YellowDot
{
    height: 24px;
    width: 24px;
    margin-left: 65.6%;
    margin-top: 29.3%;
    opacity: 0.8;
    background-image: url("../Pictures/YellowDot.png");
    position: absolute;
}

.YellowText
{
    height: 20%;
    width: 30%;
    margin-left: 65%;
    margin-top: 25%;
    opacity: 0.8;
    color: whitesmoke;
    position: absolute;
}

.TeammateInfo
{
    height: 70%;
    width: 79%;
    margin-top: 28%;
    margin-left: 12%;
    position: absolute;
    background-color: white;
}

.HeadOfText
{
    height: 15%;
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: absolute;
}

.MainText
{
    margin-left: 10%;
    margin-top: 9%;
    font-size: 14px;
    color: gray;
    position: absolute;
}

.Delimiter
{
    width: 0.1%;
    height: 40%;
    background-color: gray;
    position: absolute;
    margin-left: 80%;
    margin-top: 9%;
    opacity: 0.2;
}

.ShareIcon
{
    height: 24px;
    width: 24px;
    margin-top: 13%;
    margin-left: 75%;
    background-image: url("Pictures/ShareIcon.png");
    position: absolute;
}

.FacebookLogo
{
    height: 16px;
    width: 16px;
    margin-top: 10%;
    margin-left: 82%;
    background-image: url("../Pictures/Facebook.png");
    position: absolute;
}

.FacebookText
{
    font-size: 16px;
    color: gray;
    margin-top: 10%;
    margin-left: 84%;
    position: absolute;
}

.TwitterLogo
{
    height: 16px;
    width: 16px;
    margin-top: 12%;
    margin-left: 82%;
    background-image: url("../Pictures/Twitter.png");
    position: absolute;
}

.TwitterText
{
    font-size: 16px;
    color: gray;
    margin-top: 12%;
    margin-left: 84%;
    position: absolute;
}

.LinkedinLogo
{
    height: 16px;
    width: 16px;
    margin-top: 14%;
    margin-left: 82%;
    background-image: url("../Pictures/Linkedin.png");
    position: absolute;
}

.LinkedinText
{
    font-size: 16px;
    color: gray;
    margin-top: 14%;
    margin-left: 84%;
    position: absolute;
}

.InstagramLogo
{
    height: 16px;
    width: 16px;
    margin-top: 16%;
    margin-left: 82%;
    background-image: url("../Pictures/Instagram.png");
    position: absolute;
}

.InstagramText
{
    font-size: 16px;
    color: gray;
    margin-top: 16%;
    margin-left: 84%;
    position: absolute;
}

.FirstTeammateLine
{
    height: 18%;
    width: 6%;
    rotate: 45deg;
    margin-left: 18%;
    margin-top: 26.7%;
    background-color: white;
    position: absolute;
    animation: movement 1s linear;
}

.SecondTeammateLine
{
    height: 18%;
    width: 6%;
    rotate: 45deg;
    margin-left: 38.5%;
    margin-top: 26.3%;
    background-color: white;
    position: absolute;
    visibility: hidden;
}

.ThirdTeammateLine
{
    height: 18%;
    width: 6%;
    rotate: 45deg;
    margin-left: 58.5%;
    margin-top: 26.3%;
    background-color: white;
    position: absolute;
    visibility: hidden;
}

.FourthTeammateLine
{
    height: 18%;
    width: 6%;
    rotate: 45deg;
    margin-left: 78.5%;
    margin-top: 26.3%;
    background-color: white;
    position: absolute;
    visibility: hidden;
}

.HoveredPortfolio
{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    opacity: 0;
}

.HoveredPortfolio:hover
{
    animation: hoverPortfolio 1s forwards;
}

@keyframes hoverPortfolio {
    to
    {
        opacity: 1;
    }
}

.LowerBlockPortfolio
{
    height: 30%;
    width: 100%;
    margin-top: 41.8%;
    background-color: white;
    position: absolute;
}

.LowerBlockPortfolioText
{
    margin-left: 35%;
    margin-top: 8%;
    color: black;
    position: absolute;
}

.FirstLine
{
    height: 5%;
    width: 25%;
    background-color: red;
    position: absolute;
}

.SecondLine
{
    height: 5%;
    width: 25%;
    margin-left: 25%;
    background-color: green;
    position: absolute;
}

.ThirdLine
{
    height: 5%;
    width: 25%;
    margin-left: 50%;
    background-color: purple;
    position: absolute;
}

.FourthLine
{
    height: 5%;
    width: 25%;
    margin-left: 75%;
    background-color: orange;
    position: absolute;
}

.CentralBlockPortfolio
{
    margin-left: 39%;
    margin-top: 10%;
    height: 35%;
    width: 20%;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    position: absolute;
}

.HorizontalLine
{
    width: 90%;
    height: 3%;
    margin-left: 5%;
    margin-top: 50%;
    background-color: white;
    position: absolute;
}

.VerticalLine
{
    width: 3%;
    height: 90%;
    margin-left: 50%;
    margin-top: 5%;
    background-color: white;
    position: absolute;
}






/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

@media only screen and (width < 1200px) {


    .top {
        height: 8%;
        background-color: white;
    }

    .Alexis {
        width: 10%;
        height: 6%;
        margin-left: 20%;
        margin-top: calc(8% - 10.5%);
        font-size: 18px;
        background-color: white;
    }

    .Text {
        height: 3%;
        width: 50%;
        margin-left: 40%;
        margin-top: 1.5%;
        position: absolute;
    }

    .ALetter {
        color: red;
    }

    .MainPicture {
        height: 70%;
    }

    .Back {
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 80%;
    }

    .EnteredText {
        height: 30%;
        width: 50%;
        margin-left: 32%;
        margin-top: -30%;
        font-size: 40px;
        opacity: 99%;
        color: white;
    }

    .OurWorks {
        height: 10%;
        width: 9%;
        margin-left: 45%;
        margin-top: 1%;
        opacity: 99%;
        background-color: orangered;
        border-radius: 30px;
    }

    .OurWorksButton {
        color: white;
        font-size: 10px;
        margin-left: 1.3%;
        margin-top: 1.5%;
        position: absolute;
    }

    .OurWorksButton:hover {
        animation: ourworks 1s forwards;
    }

    @keyframes ourworks {
        to {
            font-size: 14px;
            margin-left: 0%;
        }
    }

    .Dollar {
        height: 32px;
        width: 32px;
        margin-left: 25%;
        margin-top: 3%;
        position: absolute;
        opacity: 99%;
    }

    .DollarText {
        height: 32px;
        width: 160px;
        margin-left: 21.5%;
        margin-top: 6%;
        position: absolute;
        color: green;
        font-size: 12px;
        opacity: 99%;
    }

    .Clock {
        height: 32px;
        width: 32px;
        margin-left: 49%;
        margin-top: 3%;
        position: absolute;
        opacity: 99%;
    }

    .ClockText {
        height: 32px;
        width: 160px;
        margin-left: 46.5%;
        margin-top: 6%;
        position: absolute;
        color: purple;
        font-size: 12px;
        opacity: 99%;
    }

    .Galka {
        height: 32px;
        width: 32px;
        margin-left: 75%;
        margin-top: 3%;
        position: absolute;
        opacity: 99%;
    }

    .GalkaText {
        height: 32px;
        width: 200px;
        margin-left: 71%;
        margin-top: 6%;
        position: absolute;
        color: orange;
        font-size: 12px;
        opacity: 99%;
    }

    .OurFocus {
        height: 70%;
        background-color: whitesmoke;
    }

    .OurFocusText {
        height: 20%;
        width: 20%;
        font-size: 40px;
        margin-top: 2%;
        margin-left: 43%;
        position: absolute;
    }

    .OurFocusLowerText {
        height: 20%;
        width: 30%;
        font-size: 12px;
        margin-top: 7%;
        margin-left: 38%;
        position: absolute;
    }

    .WebDesign {
        height: 30%;
        width: 12%;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10%;
        margin-left: 20%;
    }

    .WebDesignLogo {
        height: 48px;
        width: 48px;
        margin-left: 35%;
        margin-top: 5%;
        position: absolute;
        opacity: 99%;
    }

    .WebDesignText {
        height: 20%;
        width: 50%;
        font-size: 14px;
        margin-top: 35%;
        margin-left: 25%;
        position: absolute;
    }

    .WebDesignLowerText {
        height: 20%;
        width: 75%;
        font-size: 12px;
        margin-top: 50%;
        margin-left: 13%;
        position: absolute;
    }


    .UXDesign {
        height: 30%;
        width: 12%;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10%;
        margin-left: 35%;
    }

    .UXDesignLogo {
        height: 46px;
        width: 48px;
        margin-left: 35%;
        margin-top: 5%;
        position: absolute;
        opacity: 99%;
    }

    .UXDesignText {
        height: 20%;
        width: 50%;
        font-size: 14px;
        margin-top: 35%;
        margin-left: 25%;
        position: absolute;
    }

    .UXDesignLowerText {
        height: 20%;
        width: 75%;
        font-size: 12px;
        margin-top: 50%;
        margin-left: 13%;
        position: absolute;
    }

    .Photography {
        height: 30%;
        width: 12%;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10%;
        margin-left: 50%;
    }

    .PhotographyLogo {
        height: 48px;
        width: 48px;
        margin-left: 35%;
        margin-top: 5%;
        position: absolute;
        opacity: 99%;
    }

    .PhotographyText {
        height: 20%;
        width: 50%;
        font-size: 14px;
        margin-top: 35%;
        margin-left: 25%;
        position: absolute;
    }

    .PhotographyLowerText {
        height: 20%;
        width: 75%;
        font-size: 12px;
        margin-top: 50%;
        margin-left: 13%;
        position: absolute;
    }

    .AppDevelopment {
        height: 30%;
        width: 12%;
        position: absolute;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-top: 10%;
        margin-left: 65%;
    }

    .AppDevelopmentLogo {
        height: 48px;
        width: 48px;
        margin-left: 35%;
        margin-top: 5%;
        position: absolute;
        opacity: 99%;
    }

    .AppDevelopmentText {
        height: 20%;
        width: 80%;
        font-size: 14px;
        margin-top: 35%;
        margin-left: 15%;
        position: absolute;
    }

    .AppDevelopmentLowerText {
        height: 20%;
        width: 75%;
        font-size: 12px;
        margin-top: 50%;
        margin-left: 13%;
        position: absolute;
    }

    .OrangeLine {
        height: 1%;
        background-color: orange;
        margin-top: 132%;
        margin-left: -6.1%;
        width: 100%;
        position: absolute;
    }

    .PurpleLine {
        height: 1%;
        background-color: purple;
        margin-top: 132%;
        margin-left: -6.1%;
        width: 100%;
        position: absolute;
    }

    .GreenLine {
        height: 1%;
        background-color: green;
        margin-top: 132%;
        margin-left: -6.1%;
        width: 100%;
        position: absolute;
    }

    .RedLine {
        height: 1%;
        background-color: orangered;
        margin-top: 132%;
        margin-left: -6.1%;
        width: 100%;
        position: absolute;
    }

    .Line {
        height: 0.5%;
        background-color: yellow;
    }

    .AboutUs {
        height: 70%;
        background-color: white;
    }

    .AboutUsText {
        font-size: 18px;
        color: black;
        margin-left: 47%;
        margin-top: 3%;
        position: absolute;
    }

    .AboutUsBigText {
        font-size: 34px;
        color: black;
        margin-left: 39%;
        margin-top: 5%;
        position: absolute;
    }

    .Inline {
        width: 5%;
        height: 0.5%;
        margin-left: 48%;
        margin-top: 10%;
        background-color: orangered;
        position: absolute;
    }

    .AboutUsLowerText {
        font-size: 12px;
        color: gray;
        margin-top: 12%;
        margin-left: 23%;
        position: absolute;
    }

    .ZeroBlockAboutUs {
        height: 20%;
        width: 17%;
        margin-top: 17.5%;
        margin-left: 19.5%;
        position: absolute;
    }

    .ZeroBlockColor {
        height: 100%;
        width: 100%;
        margin-left: -5%;
        margin-top: -2%;
        background: linear-gradient(orange, yellow);
        opacity: 0.6;
        position: absolute;
    }

    .ZeroBlockBack {
        height: 100%;
        width: 100%;
        margin-left: -5%;
        margin-top: -2%;
        position: absolute;
    }

    .ZeroBlockSecondBack {
        height: 100%;
        width: 100%;
        background-color: aqua;
        position: absolute;
    }

    .FirstBlockLogo {
        height: 48px;
        width: 48px;
        margin-left: 36%;
        margin-top: 5%;
        position: absolute;
        opacity: 99%;
    }

    .FirstBlockText {
        font-size: 14px;
        color: white;
        width: 50%;
        height: 20%;
        margin-left: 23%;
        margin-top: 35%;
        position: absolute;
    }

    .FirstBlockAboutUs {
        height: 20%;
        width: 17%;
        margin-top: 18%;
        margin-left: 20%;
        background-color: aqua;
        position: absolute;
    }

    .HighLightBlock {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
    }

    .HighLightBlock:Hover {
        animation: identifier 1s forwards;
    }

    @keyframes identifier {
        to {
            opacity: 1;
        }
    }

    .SecondBlockAboutUs {
        height: 20%;
        width: 17%;
        margin-top: 18%;
        margin-left: 40%;
        position: absolute;
    }

    .ThirdBlockAboutUs {
        height: 20%;
        width: 17%;
        margin-top: 18%;
        margin-left: 60%;
        position: absolute;
    }

    .Explore {
        height: 50%;
    }

    .ExploreText {
        height: 25%;
        width: 40%;
        margin-top: -20%;
        margin-left: 40%;
        color: white;
        font-size: 24px;
        position: absolute;
    }

    .ExploreLogo {
        height: 48px;
        width: 48px;
        margin-left: 47%;
        margin-top: -15%;
        position: absolute;
        opacity: 99%;
    }

    .ExploreSmallText {
        height: 25%;
        width: 40%;
        margin-top: -10%;
        margin-left: 45%;
        color: white;
        font-size: 12px;
        position: absolute;
    }

    .Portfolio {
        height: 120%;
        background-color: white;
    }

    .PortfolioText {
        height: 30%;
        width: 70%;
        margin-left: 43%;
        margin-top: 5%;
        font-size: 40px;
        opacity: 99%;
        color: black;
        position: absolute;
    }

    .OurPortfolioLowerText {
        height: 20%;
        width: 30%;
        font-size: 14px;
        margin-top: 11%;
        margin-left: 35%;
        color: gray;
        position: absolute;
    }

    .PortfolioBlock {
        height: 75%;
        width: 50%;
        margin-left: 25%;
        margin-top: 12%;
        position: absolute;
    }

    .FirstPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: -30%;
        margin-top: 3%;
        position: absolute;
    }

    .SecondPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 27%;
        margin-top: 3%;
        position: absolute;
    }

    .ThirdPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 85%;
        margin-top: 3%;
        position: absolute;
    }

    .FirstMiddlePortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: -30%;
        margin-top: 35%;
        position: absolute;
    }

    .SecondMiddlePortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 27%;
        margin-top: 35%;
        position: absolute;
    }

    .ThirdMiddlePortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 85%;
        margin-top: 35%;
        position: absolute;
    }

    .FirstLowerPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: -30%;
        margin-top: 66%;
        position: absolute;
    }

    .SecondLowerPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 27%;
        margin-top: 66%;
        position: absolute;
    }

    .ThirdLowerPortfolioBlock {
        height: 150px;
        width: 250px;
        margin-left: 85%;
        margin-top: 66%;
        position: absolute;
    }

    .OurTeam {
        height: 120%;
        background-color: whitesmoke;
    }

    .OurTeamText {
        height: 30%;
        width: 70%;
        margin-left: 43%;
        margin-top: 8%;
        font-size: 40px;
        opacity: 99%;
        color: black;
        position: absolute;
    }

    .OurTeamLowerText {
        height: 20%;
        width: 30%;
        font-size: 14px;
        margin-top: 13%;
        margin-left: 35.5%;
        color: gray;
        position: absolute;
    }

    .OurTeamBlocks {
        height: 50%;
        width: 90%;
        background-color: transparent;
        margin-left: 5%;
        margin-top: 17%;
        position: absolute;
    }

    .FirstTeammateBlock {
        height: 75%;
        width: 19%;
        background-color: white;
        margin-top: 1%;
        margin-left: 10%;
        position: absolute;
    }

    .FirstTeammatePhoto {
        margin-top: 1%;
        margin-left: 1%;
        height: 70%;
        width: 98%;
        position: absolute;
    }

    .FirstTeammateText {
        height: 15%;
        width: 80%;
        margin-top: 100%;
        margin-left: 20%;
        font-size: 18px;
        color: orangered;
    }

    .FirstTeammateLowerText {
        height: 15%;
        width: 80%;
        margin-top: -6%;
        margin-left: 30%;
        font-size: 12px;
        color: gray;
    }

    .OrangeRedLineTeammate {
        height: 1%;
        background-color: orangered;
        margin-top: 8%;
        width: 100%;
        position: absolute;
    }

    .SecondTeammateBlock {
        height: 75%;
        width: 19%;
        background-color: white;
        margin-top: 1%;
        margin-left: 30%;
        position: absolute;
    }

    .SecondTeammatePhoto {
        margin-top: 1%;
        margin-left: 1%;
        height: 70%;
        width: 98%;
        position: absolute;
    }

    .SecondTeammateText {
        height: 15%;
        width: 80%;
        margin-top: 100%;
        margin-left: 25%;
        font-size: 18px;
        color: green;
    }

    .GreenLineTeammate {
        height: 1%;
        background-color: green;
        margin-top: 8%;
        width: 100%;
        position: absolute;
    }

    .ThirdTeammateBlock {
        height: 75%;
        width: 19%;
        background-color: white;
        margin-top: 1%;
        margin-left: 50%;
        position: absolute;
    }

    .ThirdTeammatePhoto {
        margin-top: 1%;
        margin-left: 1%;
        height: 70%;
        width: 98%;
        position: absolute;
    }

    .ThirdTeammateText {
        height: 15%;
        width: 80%;
        margin-top: 100%;
        margin-left: 24%;
        font-size: 18px;
        color: purple;
    }

    .PurpleLineTeammate {
        height: 1%;
        background-color: purple;
        margin-top: 8%;
        width: 100%;
        position: absolute;
    }

    .FourthTeammateBlock {
        height: 75%;
        width: 19%;
        background-color: white;
        margin-top: 1%;
        margin-left: 72%;
        position: absolute;
    }

    .FourthTeammatePhoto {
        margin-top: 1%;
        margin-left: 1%;
        height: 70%;
        width: 98%;
        position: absolute;
    }

    .FourthTeammateText {
        height: 15%;
        width: 80%;
        margin-top: 100%;
        margin-left: 20%;
        font-size: 18px;
        color: orange;
    }

    .OrangeLineTeammate {
        height: 1%;
        background-color: orange;
        margin-top: 8%;
        width: 100%;
        position: absolute;
    }

    .Bot {
        height: 40%;
        width: 100%;
        position: absolute;
    }

    .BotGroup {
        height: 100%;
        width: 100%;
        margin-top: -35%;
        margin-left: 5%;
        position: absolute;
    }

    .GraphIcon {
        height: 48px;
        width: 48px;
        margin-top: 20%;
        margin-left: 20%;
        opacity: 0.8;
        position: absolute;
    }

    .GraphText {
        height: 5%;
        width: 30%;
        margin-left: 19.7%;
        margin-top: 25%;
        opacity: 0.8;
        color: white;
        position: absolute;
    }

    .RedDot {
        height: 24px;
        width: 24px;
        margin-left: 20.7%;
        margin-top: 30%;
        opacity: 0.8;
        position: absolute;
    }

    .RedText {
        height: 5%;
        width: 30%;
        margin-left: 18.5%;
        margin-top: 28%;
        opacity: 0.8;
        font-size: 12px;
        color: whitesmoke;
        position: absolute;
    }

    .GreenGroupIcon {
        height: 48px;
        width: 48px;
        margin-top: 20%;
        margin-left: 35%;
        opacity: 0.8;
        position: absolute;
    }

    .GreenDot {
        height: 24px;
        width: 24px;
        margin-left: 35.8%;
        margin-top: 29.5%;
        opacity: 0.8;
        position: absolute;
    }

    .GreenText {
        height: 5%;
        width: 30%;
        margin-left: 34%;
        margin-top: 27.8%;
        opacity: 0.8;
        font-size: 12px;
        color: whitesmoke;
        position: absolute;
    }

    .GroupText {
        height: 5%;
        width: 30%;
        margin-left: 35.3%;
        margin-top: 25%;
        opacity: 0.8;
        color: whitesmoke;
        position: absolute;
    }

    .PurpleHeartIcon {
        height: 48px;
        width: 48px;
        margin-top: 20%;
        margin-left: 50%;
        opacity: 0.8;
        position: absolute;
    }

    .PurpleDot {
        height: 24px;
        width: 24px;
        margin-left: 50.8%;
        margin-top: 29.3%;
        opacity: 0.8;
        position: absolute;
    }

    .PurpleText {
        height: 5%;
        width: 30%;
        margin-left: 48.5%;
        margin-top: 27.7%;
        opacity: 0.8;
        font-size: 12px;
        color: whitesmoke;
        position: absolute;
    }

    .HeartText {
        height: 20%;
        width: 30%;
        margin-left: 50.3%;
        margin-top: 25%;
        opacity: 0.8;
        color: whitesmoke;
        position: absolute;
    }

    .YellowGiftIcon {
        height: 48px;
        width: 48px;
        margin-top: 20%;
        margin-left: 65%;
        opacity: 0.8;
        position: absolute;
    }

    .GiftText {
        height: 5%;
        width: 30%;
        margin-left: 63.5%;
        margin-top: 27.7%;
        opacity: 0.8;
        font-size: 12px;
        color: whitesmoke;
        position: absolute;
    }

    .YellowDot {
        height: 24px;
        width: 24px;
        margin-left: 65.6%;
        margin-top: 29.3%;
        opacity: 0.8;
        position: absolute;
    }

    .YellowText {
        height: 20%;
        width: 30%;
        margin-left: 65%;
        margin-top: 25%;
        opacity: 0.8;
        color: whitesmoke;
        position: absolute;
    }

    .TeammateInfo {
        height: 70%;
        width: 79%;
        margin-top: 28%;
        margin-left: 12%;
        position: absolute;
        background-color: white;
    }

    .HeadOfText {
        height: 15%;
        width: 20%;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 18px;
        font-weight: bold;
        color: black;
        position: absolute;
    }

    .MainText {
        margin-left: 10%;
        margin-top: 9%;
        font-size: 14px;
        color: gray;
        position: absolute;
    }

    .Delimiter {
        width: 0.1%;
        height: 40%;
        background-color: gray;
        position: absolute;
        margin-left: 80%;
        margin-top: 9%;
        opacity: 0.2;
    }

    .ShareIcon {
        height: 24px;
        width: 24px;
        margin-top: 13%;
        margin-left: 75%;
        position: absolute;
    }

    .FacebookLogo {
        height: 16px;
        width: 16px;
        margin-top: 10%;
        margin-left: 82%;
        position: absolute;
    }

    .FacebookText {
        font-size: 14px;
        color: gray;
        margin-top: 10%;
        margin-left: 84%;
        position: absolute;
    }

    .TwitterLogo {
        height: 16px;
        width: 16px;
        margin-top: 12%;
        margin-left: 82%;
        position: absolute;
    }

    .TwitterText {
        font-size: 14px;
        color: gray;
        margin-top: 12%;
        margin-left: 84%;
        position: absolute;
    }

    .LinkedinLogo {
        height: 16px;
        width: 16px;
        margin-top: 14%;
        margin-left: 82%;
        position: absolute;
    }

    .LinkedinText {
        font-size: 14px;
        color: gray;
        margin-top: 14%;
        margin-left: 84%;
        position: absolute;
    }

    .InstagramLogo {
        height: 16px;
        width: 16px;
        margin-top: 16%;
        margin-left: 82%;
        position: absolute;
    }

    .InstagramText {
        font-size: 14px;
        color: gray;
        margin-top: 16%;
        margin-left: 84%;
        position: absolute;
    }

    .FirstTeammateLine {
        height: 18%;
        width: 6%;
        rotate: 45deg;
        margin-left: 18%;
        margin-top: 26.7%;
        background-color: white;
        position: absolute;
        animation: movement 1s linear;
    }

    .SecondTeammateLine {
        height: 18%;
        width: 6%;
        rotate: 45deg;
        margin-left: 38.5%;
        margin-top: 26.3%;
        background-color: white;
        position: absolute;
        visibility: hidden;
    }

    .ThirdTeammateLine {
        height: 18%;
        width: 6%;
        rotate: 45deg;
        margin-left: 58.5%;
        margin-top: 26.3%;
        background-color: white;
        position: absolute;
        visibility: hidden;
    }

    .FourthTeammateLine {
        height: 18%;
        width: 6%;
        rotate: 45deg;
        margin-left: 78.5%;
        margin-top: 26.3%;
        background-color: white;
        position: absolute;
        visibility: hidden;
    }

    .HoveredPortfolio {
        height: 100%;
        width: 100%;
        background-color: transparent;
        position: absolute;
        opacity: 0;
    }

    .HoveredPortfolio:hover {
        animation: hoverPortfolio 1s forwards;
    }

    @keyframes hoverPortfolio {
        to {
            opacity: 1;
        }
    }

    .LowerBlockPortfolio {
        height: 30%;
        width: 100%;
        margin-top: 41.8%;
        background-color: white;
        position: absolute;
    }

    .LowerBlockPortfolioText {
        margin-left: 35%;
        margin-top: 8%;
        color: black;
        position: absolute;
    }

    .FirstLine {
        height: 5%;
        width: 25%;
        background-color: red;
        position: absolute;
    }

    .SecondLine {
        height: 5%;
        width: 25%;
        margin-left: 25%;
        background-color: green;
        position: absolute;
    }

    .ThirdLine {
        height: 5%;
        width: 25%;
        margin-left: 50%;
        background-color: purple;
        position: absolute;
    }

    .FourthLine {
        height: 5%;
        width: 25%;
        margin-left: 75%;
        background-color: orange;
        position: absolute;
    }

    .CentralBlockPortfolio {
        margin-left: 39%;
        margin-top: 10%;
        height: 35%;
        width: 20%;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        position: absolute;
    }

    .HorizontalLine {
        width: 90%;
        height: 3%;
        margin-left: 5%;
        margin-top: 50%;
        background-color: white;
        position: absolute;
    }

    .VerticalLine {
        width: 3%;
        height: 90%;
        margin-left: 50%;
        margin-top: 5%;
        background-color: white;
        position: absolute;
    }

}


/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

